{% if include.artifact.extension.where(url='http://hl7.org/fhir/StructureDefinition/cqf-expansionParameters').exists() %}
{% assign paramsRef = include.artifact.extension.where(url='http://hl7.org/fhir/StructureDefinition/cqf-expansionParameters').value.reference %}
{% assign paramsId = iif(paramsRef.startsWith('#'), paramsRef.substring(1), paramsRef) %}
{% if include.artifact.contained.where(id = paramsId).exists() %}
{%include section-header.html header='Expansion Parameters' link='expansion-parameters' %}
{%include parameters.html parameters=include.artifact.contained.where(id = paramsId) %}
{% endif %}
{% endif %}