{%include knowledge-artifact-metadata.html resource=include.library %}
{%include default.html header='Type' content=include.library.type %}
{%include knowledge-artifact-guidance.html resource=include.library %}
{%include datarequirement.html header='Data Requirement' dataRequirement=include.library.dataRequirement %}
{%include library-parameters.html library=include.library %}
{%include artifact-endpoint-parameters.html artifact=include.library %}
{%include artifact-manifest-parameters.html artifact=include.library %}
{%include artifact-input-parameters.html artifact=include.library %}
