<div>
  <div>On every contact,</div>
    <div style="text-indent:25px;">if anaemia detected</div>
      <div style="text-indent:50px;">recommend 120 mg of elemental iron daily (Recommendation A.2.1)</div>
    <div style="text-indent:25px;">else if population anaemia prevalence >= 40%</div>
      <div style="text-indent:50px;">recommend 60 mg of elemental iron and 400 ug of folic acid, daily (Recommendation A.2.1)</div>
    <div style="text-indent:25px;">else if population anaemia prevalence < 20% or daily iron not acceptable due to side-effects</div>
      <div style="text-indent:50px;">recommend intermittent oral iron: 120 mg of oral iron, and 2.8 ug of folic acid, weekly (Recommendation A.2.2)</div>
    <div style="text-indent:25px;">else</div>
      <div style="text-indent:50px;">recommend 30 to 60 mg of elemental iron and 400 ug of folic acid, daily (Recommendation A.2.1)</div>
    <div style="text-indent:25px;">check iron-intake compliance;</div>
    <div style="text-indent:25px;">check iron-side effects;</div>
  <img src="assets/images/recommendation-a2-functional-description-diagram.jpg" style="max-width: 790px;" />
</div>
